spring:
  datasource:
    url: jdbc:mysql://localhost:8889/medical_db
    username: admin
    password: admin1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
